/* .App {
  text-align: center;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: teal;
  color: white;
  min-height: 10vh;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.dash {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin:  auto;
}

.dash h3 {
  text-align: center;
}

.dash p {
  text-align: center;
}